@import "utils/variables";

// Needs to be here to work
.overlay {
  background-color: rgb($color-black, 0.7);
}

.error-tooltip.p-tooltip .p-tooltip-text {
  background-color: $color-red !important;
}

.button-spinner {
  margin: 0 auto !important;
  width: 1.7rem !important;
  height: 1.7rem !important;
}


