@import "utils/variables";

.card {
  padding: $gap-4;
  height: 12rem;
  background-color: $color-bright-white;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;

  &__heading {
    display: flex;
    font-size: $font-size-4;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    color: $color-gray;
    height: 2.5rem;
    border-bottom: 2px solid $color-light-gray;
    margin-bottom: $gap-4;
    align-items: center;

    & * {
      margin-left: $gap-3;
    }
  }

  &__content {
    font-size: $font-size-3;
    font-weight: 400;
    text-align: left;
    color: $color-gray;

    &__row {
      width: 100%;
      margin-top: $gap-4;
      margin-bottom: $gap-4;

      :nth-child(1) {
        min-width: 25%;
        display: inline-block;
        text-align: right;
        color: $color-light-gray;
        padding-right: 2rem;
      }

      :nth-child(2) {
        display: inline-block;
        color: $color-black;
        font-weight: 500;
      }

      &:has(:nth-child(2):empty) {
        display: none;
      }
    }
  }
}
