@import "../../../../scss/utils/variables";

@mixin notification-style($bg-color, $border-color) {
  background-color: $bg-color;

  .border {
    background-color: $border-color;
  }
}

:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  padding: 20px;
  z-index: 1;
  overflow: hidden;
}

div {
  box-sizing: border-box;
  overflow: visible;
  transition: margin .3s linear;
  perspective: 60px;
  position: relative;

  &:not(:first-child) {
    margin-top: 15px;
  }
}

.notification {
  height: 75px;
  border-radius: 5px;
  display: flex;
  align-items: stretch;

  &:hover {
    cursor: pointer;
  }

  .border {
    width: 10px;
    border-radius: 5px 0 0 5px;
  }

  .content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .header, .message {
      display: block;
      font-weight: lighter;
    }

    .header {
      font-size: 16px;
      font-weight: 500;
      color: $color-black;
    }

    .message {
      font-size: 12px;
      color: $color-gray;
    }
  }

  &.success {
    @include notification-style(#e8fcec, #4dd56d);
  }

  &.failure {
    @include notification-style(#fee7e5, #fa345d);
  }

  &.warning {
    @include notification-style(#fff2e3, #f5c33a);
  }

  &.info {
    @include notification-style(#e9eafe, #2f86e6);
  }
}
