<form class="container" [formGroup]="form">
  <app-input formControlName="username"
             label="{{ 'AUTH.username' | translate }}"
             labelType="placeholder"
             size="fill"
             [error]="isControlValid('username')"/>
  <app-input formControlName="email"
             label="{{ 'AUTH.email' | translate }}"
             labelType="placeholder"
             type="email"
             size="fill"
             [error]="isControlValid('email')"/>
  <app-input formControlName="password"
             label="{{ 'AUTH.password' | translate }}"
             labelType="placeholder"
             type="password"
             size="fill"
             [error]="isControlValid('password')"/>
  <app-input formControlName="passwordRepeat"
             label="{{ 'AUTH.repeat-password' | translate }}"
             labelType="placeholder"
             type="password"
             size="fill"
             [error]="isControlValid('passwordRepeat')"/>
  <app-button label="{{ 'AUTH.sign-up' | translate }}"
              size="fill"
              look="inverted"
              [loading]="loading"
              (clicked)="onRegister()"/>
  <app-button label="{{ 'AUTH.go-back' | translate }}"
              size="fill"
              look="inverted"
              [disabled]="loading"
              (clicked)="onGoBack()"/>
</form>
