@import "utils/variables";
@import "utils/mixins";
@import "components/menu";

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $color-bright-white;
  border-radius: $border-radius;
  box-shadow: none;
  transition: $transition-duration filter;
  height: 3rem;
  padding: 0.7rem 1rem;
  margin: $gap-3 0;

  &:hover {
    cursor: pointer;
    filter: brightness(0.9);
  }

  .title {
    @include no-overflow();
    display: flex;
    gap: $gap-3;
    font-weight: $font-weight-3;
    width: 10rem;

    .public {
      position: relative;
      left: -0.1em;
      bottom: -0.7em;
      margin-left: -1.9em;
      font-size: 0.9em;
      color: $color-white;
    }
  }

  .owner {
    display: flex;
    gap: $gap-3;
    align-items: center;
    width: 10rem;

    img {
      align-self: center;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%;
      background-color: $color-white;
      overflow: hidden;
    }
  }

  .date {
    width: 5rem;
  }

  .ellipsis {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-bright-white;
    border-radius: 100%;
    transition: $transition-duration filter;
    height: 1.5em;
    width: 1.5em;

    &:hover {
      cursor: pointer;
      filter: brightness(0.8);
    }
  }
}

.text {
  align-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

:host ::ng-deep {
  .ellipsis fa-icon svg {
    vertical-align: -0.25em !important;
  }
}
