@import "../../../../scss/utils/variables";

.button {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: $color-white;
  transition: $transition-duration filter;

  &:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }

  i-bs {
    height: 25px;
    align-self: center;
  }
}

:host ::ng-deep fa-icon {
  height: 25px;
  margin: 5px 0 0;
  padding: 0;
  align-self: center;

  & svg {
    font-size: 20px;
  }
}
