<div *ngFor="let config of confirmationService.configs$ | async" class="modal">
  <div *ngIf="config.closable" (click)="onClose(config)" class="close"></div>
  <div class="header">{{ config.header }}</div>
  <div class="message">{{ config.message }}</div>
  <div class="buttons">
    <app-button (click)="onReject(config)"
                mode="hollow"
                text="{{ config.accept ? config.accept : 'DIALOG.cancel' | translate }}">
    </app-button>
    <app-button (click)="onAccept(config)"
                text="{{ config.accept ? config.accept : 'DIALOG.confirm' | translate }}">
    </app-button>
  </div>
</div>
