@import "../../../../scss/utils/variables";

.btn {
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: $border-radius;
  font-size: $font-size-2;
  letter-spacing: 0.5px;
  font-weight: $font-weight-3;
  transition: 0.3s;
  min-width: 100px;
  border: 2px solid $color-primary;

  &--solid {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: rgb($color-primary, 0.85);
    }
  }

  &--hollow {
    background-color: transparent;
    color: $color-primary;

    &:hover {
      background-color: rgb($color-primary, 0.1);
    }
  }
}

