$color-primary: #31C48D;
$color-primary-dark: #29A376;

$color-white: #F4FAFF;
$color-bright-white: #FFFFFF;
$color-black: #2b2b33; // or maybe this: #2F2F2F

$color-gray: #808080;
$color-light-gray: #D3D3D3;

$color-orange: #FFA41B;
$color-red: #E84545;

$md: 768px;

$gap-1: 0.1rem;
$gap-2: 0.2rem;
$gap-3: 0.5rem;
$gap-4: 1rem;
$gap-5: 1.5rem;
$gap-6: 2rem;
$gap-7: 4rem;

$font-size-1: 0.8rem;
$font-size-2: 0.9rem;
$font-size-3: 1rem;
$font-size-4: 1.2rem;
$font-size-5: 1.4rem;
$font-size-6: 2.5rem;

$font-weight-3: 500;

$border-radius: 5px;
