<div class="container">
  <div class="translate">
    <app-translate></app-translate>
  </div>
  <img class="logo" src="../../../../assets/logo/iv-logo-large-white.png" alt="logo">

  <div class="login-container">
    <div class="std-container">
      <app-input label="{{ 'AUTH.username' | translate }}" size="fill"/>
      <app-input label="{{ 'AUTH.password' | translate }}" size="fill"/>
      <app-button label="{{ 'AUTH.sign-in' | translate }}" size="fill" look="inverted"/>
      <app-button label="{{ 'AUTH.sign-up' | translate }}" size="fill" look="inverted"/>
    </div>
    <div class="sso-container">
      <app-button [icon]="googleIcon" size="fill" look="inverted" (clicked)="auth.redirectToGoogleLogin()"/>
      <app-button [icon]="facebookIcon" size="fill" look="inverted" (clicked)="auth.redirectToFacebookLogin()"/>
    </div>
  </div>

</div>
